<article class="flex:col bg:white r:6 overflow:hidden shadow:4|4|8|yellow-92 transition:all|0.3s transform:translateY(-6):hover shadow:1|1|2|yellow-92:hover">
      <a href="{{ .RelPermalink }}" class="f:sky-66 text-decoration:none f:sky-80:hover transition:color|0.2s">

  {{/* 1. Intentamos pillar la foto declarada en el Front Matter */}}
  {{ $img := .Resources.GetMatch .Params.destacada }}
  
  {{/* 2. FALLBACK: Si no hay destacada, busca la primera de la carpeta EXCLUYENDO grafico.webp */}}
  {{ if not $img }}
    {{ range .Resources.ByType "image" }}
      {{ if and (not $img) (not (hasPrefix .Name "grafico")) }}
        {{ $img = . }}
      {{ end }}
    {{ end }}
  {{ end }}
  
  <div class="square bg:white p:10 r:6 overflow:hidden position:relative">
    {{ if $img }}
      {{ $webp := $img.Resize "600x webp q80" }}
      <img src="{{ $webp.RelPermalink }}" width="{{ $webp.Width }}" height="{{ $webp.Height }}" alt="{{ .Title }}" class="w:full h:full object-fit:cover r:4 display:block">
    {{ else }}
      <div class="w:full h:full flex justify-content:center align-items:center f:xs f:gray-40 italic">Sen imaxe</div>
    {{ end }}
  </div>

  <div class="p:10|20|30 flex:grow:1 flex:col">
    <h3 class="f:20 max-w:280 f:bold f:#002855 f:sky-66 line-height:1.3 mb:15">
        {{ .Title }}
    </h3>
    <p class="f:15 f:16@md f:#002855 line-height:1.6 font:normal flex:grow:1 mb:0 opacity:0.9">
      {{ .Description }}
    </p>
  </div>
  </a>
</article>


