{{ define "main" }}
<main data-editable="layouts/atributos/single.html:main" class="bg:sky-88 overflow-x:hidden">
  <article class="mx:auto position:relative">
    
    {{/* 1. CABECERA Y CONTENIDO */}}
    <header class="max-w:550 mx:auto text:center p:5vw|3vw">
      <h1 class="f:30 f:50@md font:bold f:sky-68 lh:1.2 block mx:auto mb:0">{{ .Title }}</h1>
      <p class="f:18 lh:1.6">{{ .Description }}</p>
    </header>

    {{/* 2. ESTILOS LOCALES DE SWIPER (Llamada limpia a tu Mac) */}}
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />

 {{ partial "carrusel.html" . }}


    {{/* 4. TEXTO INDIVIDUAL */}}
    <div class="lh:1.5 max-w:800 mx:auto mt:5vw px:20 {f:sky-68;f:semibold;f:18;bt:1|solid|sky-64;pt:20;max-w:400;block;mx:auto;mt:40}0>h3">{{ .Content }}</div>

    {{/* 5. GRÁFICO EXCLUSIVO AL FINAL */}}
    {{ $grafico := .Resources.GetMatch "grafico.*" }}
    {{ if $grafico }}
      <div class="max-w:1200 mx:auto p:5vw|20">
        <div class="r:6 overflow:hidden shadow:4|4|8|sky-88 bg:white p:20">
          <img src="{{ $grafico.RelPermalink }}" alt="Gráfico de la sección" class="w:full h:auto display:block r:8">
        </div>
      </div>
    {{ end }}

    {{/* 6. PAGINADOR */}}
    <nav class="flex justify-content:space-between max-w:600 mx:auto mt:40 mb:5vw px:20 gap:30">
      {{ with .PrevInSection }}
      <a href="{{ .RelPermalink }}" class="flex:1 flex flex:col t:right ai:center text-decoration:none f:sky-68">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256" class="mb:10 ml:auto"><path fill="currentColor" d="M165.66 202.34a8 8 0 0 1-11.32 11.32l-80-80a8 8 0 0 1 0-11.32l80-80a8 8 0 0 1 11.32 11.32L91.31 128Z"/></svg>
        <span class="w:220 ml:auto">{{ .Title }}</span>
      </a>
      {{ else }}
      <div class="w:45%"></div>
      {{ end }}

      {{ with .NextInSection }}
      <a href="{{ .RelPermalink }}" class="flex:1 flex flex:col t:left ai:center text-decoration:none f:sky-68">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256" class="mb:10 mr:auto"><path fill="currentColor" d="m181.66 133.66l-80 80a8 8 0 0 1-11.32-11.32L164.69 128L90.34 53.66a8 8 0 0 1 11.32-11.32l80 80a8 8 0 0 1 0 11.32Z"/></svg>
        <span class="w:220 mr:auto">{{ .Title }}</span>
      </a>
      {{ else }}
      <div class="w:45%"></div>
      {{ end }}
    </nav>

  </article>
</main>

{{ end }}